html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
}

body {
	position: relative;
	width: 80%;
	margin: auto;
	font-weight: normal;
}

h1 {
	font-family: helvetica, arial, sans-serif; 
	font-size: 36px; 
	font-style: normal; 
	font-weight: normal;
	color: #00C7E6;
}

h2 {
	font-family: helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	color: #bbbbbb;
	font-weight: normal;
	padding-bottom: 10px;
	letter-spacing: 0.4px;
}

h3 {
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	color: #3896ab;
	padding-bottom: 10px;
}

p {
	font-family: helvetica, arial, sans-serif; 
	font-size: 16px; 
	font-style: normal;
	color: #666666;
	text-align: left; 
}

pre {
	font-family: arial;
}

a {
	color: #888888;
}

a:link {
	color: #888888;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;

} 

a:visited {
	color:#555555;
	font-style: normal;
	text-decoration: none;
} 

a:hover {
	color:#B52F41;
	font-style: normal;
	text-decoration: none;
} 

a.cap {
	color: #999999;
}

a.cap:hover {
	color: #666666;
}

ul.sqli {
	list-style-type: square;
	color: #999999;
	padding-left: 20px;
}

footer {
	padding-bottom: 30px;
	clear: both;
	position: relative;
	top: 50px;
}

#name {
	font-family: georgia, serif;
	font-size: 36px;
	color: #DE526C;
	font-weight: bold;
	margin-bottom: 5px;
	position: relative;
	left: 20px;
	top: 16px;
}

h1 #name a:visited {
	color: #00C7E6;
}

#subhead {
	font-weight: normal;
	position: relative;
	left: 20px;
	top: 20px;
}

#logo {
	position: relative;
	left: 0px;
	top: 20px;
}

#headhr {
	position: relative;
	left: 0px;
	top: 20px;
	width: 100%;
}

.hel {
	font-family: 'helvetica', sans-serif;
}

.float-left {
	float: left;
}


.week {
	color: #999999;
	width: 70px;
	font-family: georgia, serif;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 10px;
}

.contentsub {
	width: 500px;
	color: #F2617C;
	margin-bottom: 10px;
	font-family: georgia, sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.padleft {
	padding-left: 85px;
}

.mgbottom {
	margin-bottom: 20px;
}

.line {
	color: #bbbbbb;
	float: left;
	width: 15px;
	font-size: 20px;
}

.content {
	width: 80%;
}

.weeklist {
	clear: left;
	padding-top: 15px;
}

#divmain {
	position: relative;
	top: 10px;
	width: 100%;
}

#divbody {
	position: relative;
	left: 0px;
	top: 30px;
	width: 100%;
}

.para {
	padding-bottom: 10px;
	line-height: 160%;
	font-family: georgia, serif;
}

.cap {
	font-family: helvetica, arial, sans-serif; 
	font-size: 12px; 
	font-style: italic;
	color: #bbbbbb;
	text-align: left;
	padding-bottom: 20px;
}

.footpara {
	font-family: helvetica, arial, sans-serif; 
	font-size: 12px; 
	font-style: normal;
	color: #aaaaaa;
	text-align: left;
	padding-bottom: 7px;
}

.pm20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
