<style type="text/css">

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
}

body {
	margin: auto;
	width: 100%;
	font-family: georgia, serif;
	color: #666666;
	font-weight: normal;
	background-color: #eeeeee;
}

h1 {
	font-family: helvetica, arial, sans-serif; 
	font-size: 36px; 
	font-style: normal; 
	font-weight: normal;
	color: #00C7E6;
	margin-bottom: 0px;
}

h2 {
	font-family: helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #bbbbbb;
	font-weight: normal;
	padding-bottom: 0px;
}

h3 {
	font-family: georgia, serif;
	font-size: 18px;
	color: #666666;
	margin: 20px 0 0 0;
}

h6 {
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 0px;
	margin: 0px;

}

p {
	font-family: helvetica, arial, sans-serif; 
	font-size: 16px; 
	font-style: normal;
	color: #666666;
	text-align: left; 
}

hr {
	margin-bottom: 0px;
}

pre {
	font-family: arial;
}

#divmain {
	margin: auto;
	width: 100%;
}

a:link {
	color:#82AAB8;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;

} 

a:visited {
	color:#82AAB8;
	font-style: normal;
	text-decoration: none;
} 

a:hover {
	color:#00C3FF;
	font-style: normal;
	text-decoration: none;
} 

ul.sqli {
	list-style-type: square;
	color: #999999;
	padding-left: 20px;
}

footer {
	position: relative;
	top: 30px;
	margin: auto;
	width: 70%;
}

#name {
	font-family: 'PT Serif', georgia, serif;
	font-size: 36px;
	color: #444444;
	font-weight: bold;
}

#subhead {
	font-family: 'Droid Serif', georgia, serif;
	font-size: 14px;
	color: #555555;
}

.main {
	width: 70%;
	margin: auto;
	clear: both;
}

.article {
	width: 60%;
	margin: auto;
	clear: both;
	padding: 20px 0 20px 0;
}

.ptext {
	font-family: georgia, serif;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	padding: 5px 0px 5px 0px;
}

h1 #name a:visited {
	color: #00C7E6;
}

.para {
	padding-bottom: 10px;
	line-height: 160%;
}

.divcap {
	position: relative;
	top: 20px;
	clear: both;
}

.cap {
	font-family: arial, sans-serif; 
	font-size: 11px; 
	color: #888888;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 10px;
	clear: both;
}

.footpara {
	font-family: helvetica, arial, sans-serif; 
	font-size: 12px; 
	font-style: normal;
	color: #888888;
	text-align: left;
	padding-bottom: 7px;
	line-height: 22px;
}

.w100 {
	width: 100%;
	margin: auto;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.bodychart {
	padding: 0px;
	margin: 0px;
	clear: both;
}

.thing {
	border: 0px solid #ccc;
	float: left;
	width: 120px;
	height: 400px;
/*	background-image:url("body2.png");*/
	background-size:120px 400px;
	background-repeat:no-repeat;
	background-position: bottom left;
	overflow: visible;
}

.graphic {
	width: 840px;
	margin: auto;
	padding-bottom: 20px;
}

div {
	overflow: visible;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.footnote {
	display:inline-block;
}


#xaxis path,
#xaxis line {
  fill: none;
  stroke: #bbbbbb;
  shape-rendering: crispEdges;
}


.bar {
  fill: #95E4E8;
}


.bar:hover {
	fill: #3AD1F0;
}



.d3-tip2 {
	line-height: 1;
	padding: 5px 10px 5px 10px;
	background: rgba(255, 255, 255, 0.7);
	color: gray;
	border-radius: 3px;
	border-color: gray;
}

.d3-tip3-1 {
	pointer-events: none;
	line-height: 1;
	padding: 5px 10px 5px 10px;
	color: #aaaaaa;

}

.d3-tip3-2 {
	line-height: 1;
	padding: 5px 10px 5px 10px;
	color: white;
	pointer-events: none;
}

.d3-tip2.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}



.legend {
	width: 600px;
	font-size: 14px;
}

#legsur {
	width: 16px;
	height: 16px;
	background-color: #F04FA5;
	border-radius: 8px;
	border-color: white;
	float: left;
	margin: 14px 0 0 0;
}

#legnonsur {
	width: 16px;
	height: 16px;
	background-color: #44DBB8;
	border-radius: 8px;
	border-color: white;
	float: left;
	margin: 14px 0 0 10px;
}

.legtext {
	font-family: georgia, serif;
	font-size: 14px;
	padding-left: 10px;
	padding-bottom: 0px;
	float: left;
}

.chart {
	margin: auto;
	padding: 30px 0 0 0;
	position: relative;
	left: 10px;
	width: 700px;
}


.chart text {
  fill: #ffffff;
  font: 12px sans-serif;
  text-anchor: end;
}

.axis path {
	fill: none;
}

.axis line {
	fill: none;
	stroke: #cccccc;
	stroke-dasharray:2,2;
	shape-rendering: crispEdges;
}

.axis text {
	fill: #aaaaaa;
}


.China {
	background-image:url("bodychina.png");
}

.US {
	background-image:url("bodyus.png");
}

.SouthKorea {
	background-image:url("bodykorea.png");
}

.Mexico {
	background-image:url("bodymexico.png");
}

.Brazil {
	background-image:url("bodybrazil.png");
}

.Italy {
	background-image:url("bodyitaly.png");
}

.Japan {
	background-image:url("bodyjapan.png");
}


.cname {
	width: 120px;
	height: 20px;
	float: left;
	text-align: left;
	margin-bottom: 20px;
}

.cnamediv {
	margin: 0px;
	clear: both;
	margin-bottom: 30px;
}

</style>