<style type="text/css">

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
}

body {
	margin: auto;
	width: 840px;
	font-family: georgia, serif;
	color: #666666;
	font-weight: normal;
}

h1 {
	font-family: helvetica, arial, sans-serif; 
	font-size: 36px; 
	font-style: normal; 
	font-weight: normal;
	color: #00C7E6;
	margin-bottom: 0px;
}

h2 {
	font-family: helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #bbbbbb;
	font-weight: normal;
	padding-bottom: 0px;
}

h3 {
	font-family: georgia, serif;
	font-size: 16px;
	color: #666666;
	position: relative;
	top: 20px;
	margin: 20 0 0 0px;
}

p {
	font-family: helvetica, arial, sans-serif; 
	font-size: 16px; 
	font-style: normal;
	color: #666666;
	text-align: left; 
}

hr {
	margin-bottom: 20px;
}

pre {
	font-family: arial;
}

#divmain {
	margin: auto;
	width: 100%;
}

a:link {
	color:#82AAB8;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;

} 

a:visited {
	color:#82AAB8;
	font-style: normal;
	text-decoration: none;
} 

a:hover {
	color:#00C3FF;
	font-style: normal;
	text-decoration: none;
} 

ul.sqli {
	list-style-type: square;
	color: #999999;
	padding-left: 20px;
}

footer {
	float: left;
	position: relative;
	top: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 800px;
}

#name {
	font-family: georgia, serif;
	font-size: 36px;
	color: #888888;
	font-weight: bold;
}

#subhead {
	font-family: georgia, serif;
	color: #555555;
}

h1 #name a:visited {
	color: #00C7E6;
}

.para {
	padding-bottom: 10px;
	line-height: 160%;
}

#divcap {
	position: relative;
	top: -500px;
	left: 400px;
	width: 400px;
}

.cap {
	font-family: arial, sans-serif; 
	font-size: 11px; 
	color: #888888;
	text-align: right;
}

.footpara {
	font-family: helvetica, arial, sans-serif; 
	font-size: 12px; 
	font-style: normal;
	color: #888888;
	text-align: left;
	padding-bottom: 7px;
}



.bodychart {
	margin: auto;
}

.thing {
	border: 0px solid #ccc;
	float: left;
	padding: 10px;
	width: 100px;
	height: 400px;
	background-image:url("body2.png");
	background-size:120px 400px;
	background-repeat:no-repeat;
	background-position: bottom left;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.footnote {
	display:inline-block;
}


.axis path,
.axis line {
  fill: none;
  stroke: #bbbbbb;
  shape-rendering: crispEdges;
}

.axistext {
	color: #cccccc;
}

.bar {
  fill: #87EDDA;
}

.bar:hover {
  fill: orange;
}

.x.axis path {
  display: none;
}

.d3-tip2 {
  line-height: 1;
  padding: 8px;
  background: rgba(255, 255, 255, 0.7);
  color: #bbbbbb;
  border-radius: 3px;
}

.d3-tip2.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#cname {
	position: relative;
	top: 50px;
	text-align: right;
	width: 100px;
}

.cnametext {
	font-size: 12px;
	text-align: right;
	margin-bottom: -6px;
}

.chart {
	margin: 30px 0 0 0;
	position: relative;
	left: 10px;
	width: 700px;
}

.chart rect {
  fill: #58DBCC;
}

.chart text {
  fill: #ffffff;
  font: 12px sans-serif;
  text-anchor: end;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

</style>